.nav_bar{
    height:50px;
    display:flex;
    background: linear-gradient(to bottom right,#50a3a2,#53e3a6);
    background: -webkit-linear-gradient(to bottom right,#50a3a2,#53e3a6);
}
.wrap{
    background: linear-gradient(to bottom right,#50a3a2,#53e3a6);
    background: -webkit-linear-gradient(to bottom right,#50a3a2,#53e3a6);
    height:750px
}
a{
    color:white

}
ul{
    list-style:none;
    color:white;
    margin-left:-30px;

}
li{
    line-height:1.4285;
    font-size:14px;
    padding:15px 10px;
    margin-top:15px;
}
.content{
    display: block;
    border:1px solid #ccc;
    margin-top:-210px;
    width:80%;
    height:750px;
    background:#FFFFFF;
    margin-left:20%;
}
